<!--<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" type="ball-scale-multiple"><p-->
<!--  style="color: white"> Loading... </p></ngx-spinner>-->
<div class="login-outer">
  <div class="container-fluid p-0 m-0">
    <div class="row m-0 p-0 content ">
      <div class="col-lg-6 col-md-6 m-0 p-0 left-container ">
        <img class="image" src="assets/AdobeStock_460710131_Preview.jpeg">
      </div>
      <div class="col-lg-6 col-md-6 m-0 p-0 right-container ">
        <form class="form">
          <h1 class="header">Welcome !</h1>
          <div class="login-form">
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>Enter your email</mat-label>
                <input [formControl]="email" matInput placeholder="pat@example.com" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>Enter your password</mat-label>
                <input [formControl]="password" [type]="hide ? 'password' : 'text'" matInput required>
                <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                          matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <button (click)="userLogin()" class="btn mat-raised-button mt-2" type="button">LogIn</button>
          <p class="message">Not registered? <a routerLink="/auth/signup">Create an account</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
